<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Лабораторные работы по "Разработке веб-приложений"</title>
</head>
<body>
  <header>
    <div class="container pt-5">
      <h1 class="text-center">Гребенников Илья Игоревич, гр. 231-3210</h1>
    </div>
  </header>

  <main>
    <div class="container py-5">
      <ul class="list-group">
        <a href="/lab1" class="list-group-item list-group-item-action">Лабораторная работа № 1</a>
        <a href="/lab2" class="list-group-item list-group-item-action">Лабораторная работа № 2</a>
        <a href="/lab3" class="list-group-item list-group-item-action">Лабораторная работа № 3</a>
        <a href="/lab4" class="list-group-item list-group-item-action">Лабораторная работа № 4</a>
        <a href="/lab5" class="list-group-item list-group-item-action">Лабораторная работа № 5</a>
      </ul>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>