{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2>Лабораторная работа №2</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="navbar-brand" href="{{ url_for('args') + '?title=Заголовок&descr=Описание&search=123' }}">Параметры URL</a>
            </li>
            <li class="list-group-item">
                <a class="navbar-brand" href="{{ url_for('headers') }}">Заголовки</a>
            </li>
            <li class="list-group-item">
                <a class="navbar-brand" href="{{ url_for('cookies') }}">Cookies</a>
            </li>
            <li class="list-group-item">
                <a class="navbar-brand" href="{{ url_for('form') }}">Параметры формы</a>
            </li>
            <li class="list-group-item">
                <a class="navbar-brand" href="{{ url_for('phone') }}">Валидация номера телефона</a>
            </li>
          </ul>
    </div>
</div>
{% endblock %}